/*	------------------------------------------------------------------------
   Filename: /PrivacyPolicy/style.PrivacyPolicy.css
   Coder(s): Will Fuller [wtf]
   Purpose:  CSS intended for site's Privacy Policy page
   ------------------------------------------------------------------------ */

div#bodyOutline {
	width: 700px;
	margin: 0 auto;
}


/* ------------------------------------------------------------------------
	"Printable Version" PDF Link
	------------------------------------------------------------------------ */

div#bodyLinkPDF {
	width: 700px;
	height: 16px;
	margin-top: 25px;
	margin-bottom: 50px;
	text-align: right;
}
div#bodyLinkPDF > a {
	text-decoration: none;
	vertical-align: middle;
}


/* ------------------------------------------------------------------------
	content body @ Privacy Policy
	------------------------------------------------------------------------ */

div#bodyContent {
	width: 650px;
	margin-bottom: 50px;
	padding: 0 25px 0 25px;
}
div#bodyContent > h4 {
	font-size: larger;
	text-align: center;
	text-transform: capitalize;
}
div#bodyContent > p {
	text-align: justify;
}


/* ------------------------------------------------------------------------
	comment form @ Privacy Policy
	------------------------------------------------------------------------ */

div#bodyComment {
	width: 630px;
	margin: 0 auto;
}
form#formComment {
	background-color: #EDEADF;	/* just a note that these two colors are 'harmonious' */
	border: 1px solid #C8BF9E; /* to the standard Cotton Incorporated brown #84754A  */
	border-radius: 10px;
	position: relative;
	width: 630px;
	height: 200px;
}
fieldset {
	border: none;
}
fieldset#fieldComment {
	position: absolute;
	width: 250px;
	top: 10px;
	left: 10px;
}
fieldset#fieldVisitor {
	position: absolute;
	width: 250px;
	top: 10px;
	right: -10px;
}
fieldset#fieldSubmit {
	position: absolute;
	width: 250px;
	bottom: 10px;
	right: -90px;
}
textarea, input {
	background-color: white;
	border: 1px solid #C8BF9E;
	border-radius: 5px;
	color: #444;
	font-family: Consolas, "Courier New", monospace;
	font-size: 14px;
	margin-top: 4px;
	padding: 5px; 
}
textarea {
	width: 330px;
	height: 140px;
}
input {
	margin-bottom: 15px;
	width: 220px;
}
button {
	background-color: #EDEADF;
	border: 1px solid #c8bf9e;
	color: #84754a;
	cursor: pointer;
	display: inline-block;
	font-family: Impact;
	font-size: 14px;
	font-weight: normal;
	padding: 6px 30px;
	text-decoration: none;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px 0px #ffffff;
}
button:active	{ position: relative; top:1px; }
button:hover	{ background-color: #DBD5BE; }