<%= form_for(@article, :html => {:multipart => true}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Display Date' %><br />
    <%= f.date_select :creation_date %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label 'Content' %><br />
  <script type="text/javascript">
tinyMCE.init({
        theme : "advanced",
        mode : "exact",
        elements : "article_copy",
        theme_advanced_toolbar_location : "top",
        plugins : "fullpage",
        theme_advanced_buttons3_add : "fullpage"
});
</script>
  <%= f.text_area :copy %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>
  <div class="field">
	<%= f.label 'Chart Image' %><br />
	<%= f.file_field :chart %>
  </div>
  
  <div class="field">
    <%= f.label :image_summary %><br />
    <%= f.text_area :image_summary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
