<h1>Listing articles</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Summary</th>
    <th>Image Summary</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.creation_date %></td>
    <td><%= article.title %></td>
    <td><%= article.subtitle %></td>
    <td><%= article.summary %></td>
    <td><%= article.image_summary %></td>
    </tr>
  <tr>
     <td></td>
     <td><%= image_tag article.chart.url(:thumb) %></td>
    <td></td>
    <td></td>
    <td><%= link_to 'Show', article %> <%= link_to 'Edit', edit_article_path(article) %> <%= link_to 'Delete', article, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
