<p id="notice"><%= notice %></p>

<p>
  <b>Creation date:</b>
  <%= @article.creation_date %>
</p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @article.subtitle %>
</p>

<p>
  <b>Summary:</b>
  <%= @article.summary %>
</p>
<p>
  <b>Content</b>
  <%= @article.copy.html_safe %>
</p>
<p>
  <b>Chart Image summary:</b>
  <%= @article.image_summary %>
</p>
<p>
  <b>Chart Image:</b>
  <%= image_tag @article.chart.url(:medium) %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
