<p id="notice"><%= notice %></p>

<p>
  <b>Creation date:</b>
  <%= @article.creation_date %>
</p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @article.subtitle %>
</p>

<p>
  <b>Summary:</b>
  <%= @article.summary %>
</p>

<p>
  <b>Image summary:</b>
  <%= @article.image_summary %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
