	#formContainer {
		margin: 50px 0px;
		padding: 0;
		text-align: center;
		}
	#formBody {
		background-color: #FFF;
		margin: 0 auto;
		text-align: left;
		width: 510px;
		}
	#introText {
		color: #666;
		font-family: Verdana, sans-serif;
		font-size: 9pt;
		padding-bottom: 20px;
		text-align: center;
		}
	#exitText {
		color: #666;
		font-family: Verdana, sans-serif;
		font-size: 9pt;
		padding-top: 15px;
		padding-bottom: 10px;
		text-align: center;
		}
	.formInput {
		background-color: #FFF;
		border-color: #557FA7;
		border-style: solid;
		border-width: 1px;
		color: #333;
		font-family: Verdana, sans-serif;
		font-size: 9pt;
		font-weight: bold;
		line-height: 9pt;
		text-align: left;
		}
	.formHR {
		border: none 0;
		border-top: 1px dotted #CCC;
		height: 1px;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
		}
	.formText {
		color: #666;
		font-family: Verdana, sans-serif;
		font-size: 11px;
		}
	.msgBody {
		border-color: #DCDCDC;
		border-style: solid;
		border-width: 1px;
		color: #333;
		font-family: Courier New, monospace;;
		font-size: 9pt;
		line-height: 9pt;
		overflow: hidden;
		width: 500px;
		}