<!DOCTYPE html>
<html>
<head>
  <title>LifestylemonitorCms</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'tiny_mce/tiny_mce.js', 'jquery.js', 'jquery.min.js', 'jquery_ujs.js' %>
  <%= csrf_meta_tag %>
</head>
<body>


		<script LANGUAGE="JAVASCRIPT" src="http://resource.cottoninc.com/_script/macromedia.js" TYPE="text/javascript"></script>

		<script language="javascript" type="text/javascript" src="http://resource.cottoninc.com/_script/swfobject.js"></script>
		<script language="javascript" type="text/javascript" 	src="http://resource.cottoninc.com/_script/popup.js"></script>












		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://lifestylemonitor.cottoninc.com/LSM-Fast-Facts/RSS.cfm">
		<link rel="stylesheet" type="text/css" href="http://resource.cottoninc.com/_css/lifestylemonitor/p7exp.css.cfm?imageDir=http://resource.cottoninc.com" />
        <script type="text/javascript" src="http://resource.cottoninc.com/_script/lifestylemonitor/jquery.js"></script>
		<script type="text/javascript" src="http://resource.cottoninc.com/_script/lifestylemonitor/p7exp.js"></script>
		<script type="text/javascript" src="http://resource.cottoninc.com/_script/lifestylemonitor/p8exp.js"></script>




            <link rel="stylesheet" type="text/css" href="http://resource.cottoninc.com/_css/lifestylemonitor/mainstyle.css.cfm?imageDir=http://resource.cottoninc.com" />
            <link rel="stylesheet" type="text/css" href="http://resource.cottoninc.com/_css/lifestylemonitor/p8exp.css.cfm?imageDir=http://resource.cottoninc.com" />

         		  <link rel="stylesheet" type="text/css" href="http://resource.cottoninc.com/_css/lifestylemonitor/sidenav_weekly.css.cfm?imageDir=http://resource.cottoninc.com" />


        <link rel="stylesheet" type="text/css" href="http://resource.cottoninc.com/_css/lifestylemonitor/print.css" media="print" />
		<script type="text/javascript"><!--
			function swapFeature(target_div, new_src, new_url){
				var new_div_string = '<a href="' + new_url + '"><img src="' + new_src +'" width="63" height="63" alt="Featured Article" border="0" /></a>';
				document.getElementById(target_div).innerHTML = new_div_string;
			}

			function swapCaption(target_div, new_text){
				document.getElementById(target_div).innerHTML = "<b>" + new_text + "</b>";
			}

			/*
			This was used only on the homepage - changes to the main nav have been made to use the function below this commented out one
			function switchNav(target_img, highlight){
				var root_dir = "http://resource.cottoninc.com/_images/lifestylemonitor/nav/";
				target_src = document.getElementById(target_img);
				target_src.src = root_dir + target_img + highlight + ".gif";
			}*/

			function switchNav(target_img, target_uri, highlight){
				var root_dir = "http://resource.cottoninc.com/_images/lifestylemonitor/nav/";
				target_src = document.getElementById(target_img);
				target_src.src = root_dir + target_uri + highlight + ".gif";
			}


			//SOCIAL MEDIA VARIABLES
			var page_title = document.title;
			var page_uri = location.href;

			var pagelink_facebook = "<a class=\"share_facebook\" href=\"http://www.facebook.com/share.php?u=" + page_uri + "&t=" + page_title + "\" target=\"_blank\" onmouseout=\"switchNav('icon_share','_off'); swapCaption('nav_featuretext', ' ');\" onmouseover=\"switchNav('icon_share','_on'); swapCaption('nav_featuretext', 'SHARE LINK');\">SHARE ON FACEBOOK</a>";

			var pagelink_twitter = "<a class=\"share_twitter\" href=\"http://www.twitter.com/home?status=" + page_uri +"\" target=\"_blank\" onmouseout=\"switchNav('icon_share','_off'); swapCaption('nav_featuretext', ' ');\" onmouseover=\"switchNav('icon_share','_on'); swapCaption('nav_featuretext', 'SHARE LINK');\">SHARE ON TWITTER</a>";

			var pagelink_digg = "<a class=\"share_digg\" href=\"http://digg.com/submit?phase=2&url=" + page_uri + "&title=" + page_title + "\" target=\"_blank\" onmouseout=\"switchNav('icon_share','_off'); swapCaption('nav_featuretext', ' ');\" onmouseover=\"switchNav('icon_share','_on'); swapCaption('nav_featuretext', 'SHARE LINK');\">SHARE ON DIGG</a>";

			var pagelink_linkedin = "<a class=\"share_linkedin\" href=\"http://www.linkedin.com/shareArticle?mini=true&url=" + page_uri + "&title=" + page_title + "=&source=\" target=\"_blank\" onmouseout=\"switchNav('icon_share','_off'); swapCaption('nav_featuretext', ' ');\" onmouseover=\"switchNav('icon_share','_on'); swapCaption('nav_featuretext', 'SHARE LINK');\">SHARE ON LINKEDIN</a>";

			var pagelink_facebook1 = "<a class=\"share_facebook\" href=\"http://www.facebook.com/share.php?u=" + page_uri + "&t=" + page_title + "\" target=\"_blank\" onmouseout=\"switchNav('sub_icon_share1','sub_icon_share','_off'); swapCaption('nav_featuretext', ' ');\" onmouseover=\"switchNav('sub_icon_share1','sub_icon_share','_on'); swapCaption('nav_featuretext', 'SHARE LINK');\">SHARE ON FACEBOOK</a>";
			var pagelink_facebook2 = "<a class=\"share_facebook\" href=\"http://www.facebook.com/share.php?u=" + page_uri + "&t=" + page_title + "\" target=\"_blank\" onmouseout=\"switchNav('sub_icon_share2','sub_icon_share','_off'); swapCaption('nav_featuretext2', ' ');\" onmouseover=\"switchNav('sub_icon_share2','sub_icon_share','_on'); swapCaption('nav_featuretext2', 'SHARE LINK');\">SHARE ON FACEBOOK</a>";

			var pagelink_twitter1 = "<a class=\"share_twitter\" href=\"http://www.twitter.com/home?status=" + page_uri +"\" target=\"_blank\" onmouseout=\"switchNav('sub_icon_share1','sub_icon_share','_off'); swapCaption('nav_featuretext', ' ');\" onmouseover=\"switchNav('sub_icon_share1','sub_icon_share','_on'); swapCaption('nav_featuretext', 'SHARE LINK');\">SHARE ON TWITTER</a>";
			var pagelink_twitter2 = "<a class=\"share_twitter\" href=\"http://www.twitter.com/home?status=" + page_uri +"\" target=\"_blank\" onmouseout=\"switchNav('sub_icon_share2','sub_icon_share','_off'); swapCaption('nav_featuretext2', ' ');\" onmouseover=\"switchNav('sub_icon_share2','sub_icon_share','_on'); swapCaption('nav_featuretext2', 'SHARE LINK');\">SHARE ON TWITTER</a>";

			var pagelink_digg1 = "<a class=\"share_digg\" href=\"http://digg.com/submit?phase=2&url=" + page_uri + "&title=" + page_title + "\" target=\"_blank\" onmouseout=\"switchNav('sub_icon_share1','sub_icon_share','_off'); swapCaption('nav_featuretext', ' ');\" onmouseover=\"switchNav('sub_icon_share1','sub_icon_share','_on'); swapCaption('nav_featuretext', 'SHARE LINK');\">SHARE ON DIGG</a>";
			var pagelink_digg2 = "<a class=\"share_digg\" href=\"http://digg.com/submit?phase=2&url=" + page_uri + "&title=" + page_title + "\" target=\"_blank\" onmouseout=\"switchNav('sub_icon_share2','sub_icon_share','_off'); swapCaption('nav_featuretext2', ' ');\" onmouseover=\"switchNav('sub_icon_share2','sub_icon_share','_on'); swapCaption('nav_featuretext2', 'SHARE LINK');\">SHARE ON DIGG</a>";

			var pagelink_linkedin1 = "<a class=\"share_linkedin\" href=\"http://www.linkedin.com/shareArticle?mini=true&url=" + page_uri + "&title=" + page_title + "=&source=\" target=\"_blank\" onmouseout=\"switchNav('sub_icon_share1','sub_icon_share','_off'); swapCaption('nav_featuretext', ' ');\" onmouseover=\"switchNav('sub_icon_share1','sub_icon_share','_on'); swapCaption('nav_featuretext', 'SHARE LINK');\">SHARE ON LINKEDIN</a>";
			var pagelink_linkedin2 = "<a class=\"share_linkedin\" href=\"http://www.linkedin.com/shareArticle?mini=true&url=" + page_uri + "&title=" + page_title + "=&source=\" target=\"_blank\" onmouseout=\"switchNav('sub_icon_share2','sub_icon_share','_off'); swapCaption('nav_featuretext2', ' ');\" onmouseover=\"switchNav('sub_icon_share2','sub_icon_share','_on'); swapCaption('nav_featuretext2', 'SHARE LINK');\">SHARE ON LINKEDIN</a>";

	function swapCaption(target_div, new_text){
				document.getElementById(target_div).innerHTML = "<b>" + new_text + "</b>";
			}

			function switchNav(target_img, target_uri, highlight){
				var root_dir = "http://resource.cottoninc.com/_images/lifestylemonitor/nav/";
				target_src = document.getElementById(target_img);
				target_src.src = root_dir + target_uri + highlight + ".gif";
			}

		//--></script>



<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-314078-20']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body  onload="P7_ExpMenu();P8_ExpMenu();">
	<div id="mainContainer">

<div class="article_header">
	<span class="headerLinks"><img id="top" src="http://resource.cottoninc.com/_images/lifestylemonitor/shell/sub_header.jpg" alt="" name="top" height="102" width="965" usemap="#sub_headerc6738690" border="0" /><map id="sub_headerc6738690" name="sub_headerc6738690"><area shape="rect" coords="838,1,964,34" href="http://www.cottoninc.com" alt="cottoninc.com" target="_blank" /><area shape="rect" coords="0,1,491,101" href="/" alt="Cotton Incorporated Lifestyle Monitor" /></map></span><br />



<table width="965" border="0" cellspacing="0" cellpadding="0" class="mainnav">
							<tr>
								<td width="149">

                                <a href="/LSM-Issue-Summer-2011/" onmouseout="switchNav('subnav_currentissue', 'subnav_currentissue', '_off');" onmouseover="switchNav('subnav_currentissue', 'subnav_currentissue', '_on');"><img id="subnav_currentissues" src="http://resource.cottoninc.com/_images/lifestylemonitor/nav/subnav_currentissue_off.gif" alt="Current Issue" name="subnav_currentissue" height="74" width="149" border="0" /></a>

                                </td>
								<td width="149">




                                <a href="/LSM-Past-Issues/" onmouseout="switchNav('subnav_pastissues', 'subnav_pastissues', '_off');" onmouseover="switchNav('subnav_pastissues', 'subnav_pastissues', '_on');"><img id="subnav_pastissues" src="http://resource.cottoninc.com/_images/lifestylemonitor/nav/subnav_pastissues_off.gif" alt="Past Issues" name="subnav_pastissues" height="74" width="149" border="0" /></a>

                            </td>
								<td width="149">


                                <a href="/lsm-weekly/" onmouseout="switchNav('subnav_weeklyarticles_at','subnav_weeklyarticles_at','_off');" onmouseover="switchNav('subnav_weeklyarticles_at','subnav_weeklyarticles_at','_on');"><img id="subnav_weeklyarticles_at" src="http://resource.cottoninc.com/_images/lifestylemonitor/nav/subnav_weeklyarticles_at_off.gif" alt="Weekly Articles" name="subnav_weeklyarticles_at" height="75" width="149" border="0" /></a>


                                </td>
								<td width="155">


                                <a href="/LSM-Fast-Facts/" onmouseout="switchNav('subnav_chartsstats', 'subnav_chartsstats', '_off');" onmouseover="switchNav('subnav_chartsstats', 'subnav_chartsstats', '_on');"><img id="subnav_chartsstats" src="http://resource.cottoninc.com/_images/lifestylemonitor/nav/subnav_chartsstats_off.gif" alt="Fast Facts" name="subnav_chartsstats" height="74" width="155" border="0" /></a>

                                </td>


								<td valign="bottom">
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td valign="bottom" width="170"><div id="nav_featuretext" class="ari10 grey1"> </div></td>
												<td></td>
												<td valign="bottom"><span class="ari10 white"><b>SEARCH:</b></span></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td width="170">
													<div id="menuwrapper">
														<ul id="p7menubar">
													<li><a class="trigger" href="javascript:void(0);" onmouseout="switchNav('sub_icon_share1','sub_icon_share','_off'); swapCaption('nav_featuretext', ' ');" onmouseover="switchNav('sub_icon_share1','sub_icon_share','_on'); swapCaption('nav_featuretext', 'SHARE LINK');"><img id="sub_icon_share1" src="http://resource.cottoninc.com/_images/lifestylemonitor/nav/sub_icon_share_off.gif" alt="Share Link" name="sub_icon_share1" height="27" width="41" border="0" /></a>
														<ul>
															<li><script type="text/javascript"> document.write(pagelink_facebook1); </script></li>
															<li><script type="text/javascript"> document.write(pagelink_twitter1); </script></li>
															<li><script type="text/javascript"> document.write(pagelink_digg1); </script></li>
															<li><script type="text/javascript"> document.write(pagelink_linkedin1); </script></li>

														</ul>
													</li>
													<li><a class="trigger" href="/TellAFriend/" onmouseout="switchNav('sub_icon_email1','sub_icon_email','_off'); swapCaption('nav_featuretext', ' ');" onmouseover="switchNav('sub_icon_email1','sub_icon_email','_on'); swapCaption('nav_featuretext', 'EMAIL A FRIEND');"><img id="sub_icon_email1" src="http://resource.cottoninc.com/_images/lifestylemonitor/nav/sub_icon_email_off.gif" alt="Email a Friend" name="sub_icon_email1" height="27" width="42" border="0" /></a></li>
													<li><a class="trigger" href="javascript: window.print();" onmouseout="switchNav('sub_icon_print1','sub_icon_print','_off'); swapCaption('nav_featuretext', ' ');" onmouseover="switchNav('sub_icon_print1','sub_icon_print','_on'); swapCaption('nav_featuretext', 'PRINT PAGE');"><img id="sub_icon_print1" src="http://resource.cottoninc.com/_images/lifestylemonitor/nav/sub_icon_print_off.gif" alt="Print Page" name="sub_icon_print1" height="27" width="42" border="0" /></a></li>
													<li><a class="trigger" href="/LSM-Fast-Facts/RSS.cfm" onmouseout="switchNav('sub_icon_rss1','sub_icon_rss','_off'); swapCaption('nav_featuretext', ' ');" onmouseover="switchNav('sub_icon_rss1','sub_icon_rss','_on'); swapCaption('nav_featuretext', 'RSS FEED');"><img id="sub_icon_rss1" src="http://resource.cottoninc.com/_images/lifestylemonitor/nav/sub_icon_rss_off.gif" alt="RSS Feed" name="sub_icon_rss1" height="27" width="42" border="0" /></a></li>
												</ul>
														<div class="clearit"></div>
													</div>
													</td>
												<td></td>
												<td valign="bottom"><form action="/LSM-Site-Search/" METHOD="get" NAME="miniGoogle" onsubmit="this.submit();return false;"><input class="search" type="text" name="q" value="" size="20" maxlength="256" /></td>
												<td></td>
												<td valign="bottom"><input type="image" src="http://resource.cottoninc.com/_images/lifestylemonitor/nav/but_go_sub.gif" alt="Go" /></form></td>
											</tr>
											<tr>
												<td width="170">
												</td>
												<td><img src="http://resource.cottoninc.com/_images/lifestylemonitor/spacer.gif" alt="" height="19" width="5" border="0" /></td>
												<td></td>
												<td><img src="http://resource.cottoninc.com/_images/lifestylemonitor/spacer.gif" alt="" height="19" width="10" border="0" /></td>
												<td></td>
											</tr>
										</table>
									</form>
								</td>
							</tr>
						</table>
<div class="header_print"><img src="http://resource.cottoninc.com/_css/lifestylemonitor/print_body_header.gif" alt="Cotton" /></div>

<%= yield %>
<div class="body_footer">
    <table width="965" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td><img src="http://resource.cottoninc.com/_images/lifestylemonitor/spacer.gif" alt="" height="20" width="20" border="0" /></td>
        </tr>
        <tr>
            <td>
                <table width="965" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><img src="http://resource.cottoninc.com/_images/lifestylemonitor/shell/sub_footer_top.gif" alt="" height="8" width="965" border="0" /></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="sub_footer">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="3"></td>
                                        <td width="850">
                                            <div class="ari11">
                                                <a href="/">HOME</a>   |   <a href="/SiteMap/">SITE MAP</a>   |   <a href="/PrivacyPolicy/">PRIVACY POLICY</a>   |   <a href="/TermsAndConditions/">TERMS &amp; CONDITIONS</a>   |   <a href="/LSM-Survey-Methodology/">SURVEY METHODOLOGY</a>   |   <a href="/LSM-Update-Email-Profile/">UPDATE EMAIL PROFILE</a>   |   <a href="/LSM-Contact-Us/">CONTACT US</a></div>												</td>
                                        <td width="20"></td>
                                        <td width="60"><a href="http://www.cottoninc.com" target="_blank"><img src="http://resource.cottoninc.com/_images/lifestylemonitor/shell/sub_footer_logo.gif" alt="Cotton" height="39" width="60" border="0" /></a></td>
                                    </tr>
                                </table>
                            </div>								</td>
                    </tr>
                    <tr>
                        <td><img src="http://resource.cottoninc.com/_images/lifestylemonitor/shell/sub_footer_bottom.gif" alt="" height="8" width="965" border="0" /></td>
                    </tr>
                    <tr>
                        <td><img src="http://resource.cottoninc.com/_images/lifestylemonitor/spacer.gif" alt="" height="15" width="20" border="0" /></td>
                    </tr>
                </table>					</td>
        </tr>
    </table>
</div>
<br clear="all" />
<div class="sub_copyright">
    <span class="ari11 grey2">&copy; 2011 Cotton Incorporated. All rights reserved; America's Cotton Producers and Importers.</span>
</div>
</div>

</body>
</html>
